* {
	margin: 0px;
}

#player1 {
	width: 100px;
	height: 100px;
	position: absolute;
	background-color: aqua;
	margin-top: 200px;
}

#player2 {
	width: 100px;
	height: 100px;
	position: absolute;
	background-color: rgb(60, 143, 49);
}

body {
	background-color: black;
}
